//color
$primary: #f7f7f7
$pri_darken: #d4d4d4
$text_color: #3c3c3c

$text_highlight: #161918
$pri_bg: rgb(21, 161, 204)

body 
	-webkit-print-color-adjust: exact
	color: $text_color

h1, p 
	margin: 0
	margin-bottom: 5px
	margin-top: 5px

p 
	font-size: 0.8rem

ul 
	padding : 0
	margin: 0
	li 
		text-decoration: none
		list-style: none
		font-size: 0.9em
		padding: 5px 0

// global
.text-highlight
	color: $text_highlight
	font-weight: bold

//temp
.box
	width: 100px
	height: 100px
	background: black

//global
.wrap 
	//width: 80%
	margin: 0 auto
	width: 740px
	height: 842px
	display: block 
	margin: auto

	padding-top: 20px

// main
.layout
	display: flex
	margin-bottom: 1em
	.is-column
		&.is-header
			background: $pri_bg
			color: white
		padding: 10px
		flex: 1
		background: $primary
		&:first-child
			//margin-right: 10px
			flex-basis: 30%
			margin-right: 10px
		&:nth-child(2n)
			flex-basis: 70%
// header
.info
	display: flex
	justify-content: space-around
	font-weight: 100
// ----------------------------------block ------------------------------------------
.block
	.title
		color: $pri_bg

	.detail
.detail__name
	
.detail__level
	.process
		display: relative
		background: $pri_darken
		width: 100%
		height: 3px
		.child
			height: 100%
			background: $pri_bg
			display: absolute
			&.is-3
				width: 30%
			&.is-4
				width: 40%
			&.is-5
				width: 50%
			&.is-6
				width: 60%
			&.is-7
				width: 70%
			&.is-8
				width: 80%
			&.is-9
				width: 90%
				

		

